.aboutUs {
  &__wrapper {
    display: grid;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;
  }

  &__image {
    max-width: 735px;
    width: 100%;
    img,
    source {
      width: 100%;
      height: 100%;
    }
  }

  &__column {
  }

  &__title {
    margin-bottom: 40px;
    margin: 0 0 20px 0;
  }

  &__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 191.69%;
    color: rgba(0, 0, 0, 0.8);
    &:not(:last-of-type) {
      margin-bottom: 43px;
    }
  }
}

@media (min-width: 1025px) {
  .aboutUs {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }
    &__title {
      grid-column: 2/2 span;
    }
  }
}

@media (max-width: 1024px) {
  .aboutUs {
    &__title {
      order: 1;
    }

    &__column {
      order: 2;
    }

    &__image {
      order: 3;
      justify-self: center;
      margin-top: 50px;
    }
  }
}

@media (max-width: 375px) {
  .aboutUs {
    &__wrapper{
      padding-bottom: 70px;
    }
    &__title,
    &__image {
      margin: 0;
    }
    &__title {
      order: 1;
    }

    &__column {
      order: 3;
    }

    &__image {
      justify-self: center;
    }

    &__text {
      font-size: 14px;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
}
