.card {
  &__wrapper {
    background-color: white;
    max-width: 660px;
    font-family: Montserrat;
    width: 100%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 44px;
    display: flex;
    padding: 26px 23px;
    position: relative;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    align-self: center;
  }

  &__header {
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  &__suptitle {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 18px;
    line-height: 151.9%;
    color: rgba(0, 0, 0, 0.8);
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  &__level {
    font-weight: 500;
    font-size: 16px;
    color: #163b69;
  }

  &__image {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    img,
    source {
      height: 100%;
      width: 100%;
      object-fit: cover;

      position: absolute;
      top: 0;
      left: 0;
    }
    &_small {
      img,
      source {
        height: 75%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__buttonLink {
    margin-top: 30px;
  }
}
@media (min-width: 1301px) {
  .card {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
    }

    &__buttonsAnchorsWrapper {
      grid-column: 1/2 span;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
      width: 100%;
    }

    &__buttonAnchor {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__image {
      height: 300px;
    }
  }
}

@media (max-width: 1300px) {
  .card {
    &__wrapper {
      max-width: 100%;
    }

    &__buttonsAnchorsWrapper {
      display: none;
    }

    &__column {
      max-width: 280px;
      &:first-child {
        margin-right: 30px;
      }
      &_big {
        max-width: 100%;
      }
    }

    &__image {
      height: 0;
      padding-bottom: 110%;
    }
  }
}

@media (max-width: 700px) {
  .card {
    &__wrapper {
      flex-direction: column;
    }
    &__level,
    &__column:first-of-type {
      margin-left: auto;
      margin-right: auto;
    }

    &__column {
      &:first-of-type {
        margin: 0 0 30px 0;
      }
    }
  }
}

@media (max-width: 375px) {
  .card {
    &__title {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &__suptitle {
      font-size: 18px;
    }

    &__text {
      font-size: 14px;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
    &__buttonLink {
      margin-top: 20px;
    }
  }
}
