.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 250px;
    width: 100%;
  }

  &__navigation {
    max-width: 550px;
    width: 100%;
    flex-shrink: 1;
    & > *:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__authorization {
    display: flex;
    & > *:not(:last-child) {
      margin-right: 30px;
    }
  }
}
