.authorization {
  max-width: 410px;
  width: 100%;
  align-items: center;

  &__titlesLinksWrapper {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  &__titleLink {
    font-family: Oswald;
    font-size: 36px;
    color: #707070;
    cursor: pointer;
    &.active {
      font-weight: 500;
      color: #000000;
      font-size: 48px;
    }
  }
}

.form {
  max-width: 100%;
  width: 100%;
  font-family: Montserrat;
  grid-column: 1/3 span;
  flex-direction: column;
  display: none;

  &.active {
    display: flex;
  }

  &__button,
  &__input {
    min-height: 60px;
    width: 100%;
    border-radius: 56px;
    max-width: 100%;
  }

  &__errorMessage {
    font-size: 14px;
    color: rgb(192, 40, 40);
    text-align: center;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    &.active {
      padding: 0 0 10px 0;
      position: static;
      opacity: 1;
      visibility: visible;
    }
  }

  &__input {
    border: 1px solid #3b79a8;
    padding: 0 20px;
    margin-bottom: 16px;
    font-size: 20px;
    &::placeholder {
      @include placeholder;
    }
  }

  &__button {
    background: #3b79a8;
    color: #ffffff;
    font-size: 18px;
  }

  &__checkbox,
  &__restorePassword {
    margin-left: 30px;
  }

  &__restorePassword {
    font-size: 16px;
    color: #000000;
    margin-top: 16px;
  }
  &__checkbox {
    margin-top: 9px;
    margin-bottom: 35px;
  }
}
