.cardWithFixedLabels {
  position: relative;
  max-width: 620px;
  width: 100%;
  &__text {
    position: absolute;
    font-weight: 600;
    display: block;
    z-index: 2;
    &_big {
      font-size: 36px;
      top: 2.2vw;
      left: 2.6vw;
    }

    &_medium {
      font-size: 30px;
      bottom: 1.6vw;
      right: 2.6vw;
    }

    &_small {
      bottom: 2.7vw;
      left: 4.6vw;
      font-size: 24px;
    }
    &_smallest {
      font-size: 18px;
      top: 6.3vw;
      right: 6.5vw;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    img,
    source {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
