.paragraph {
  &_withImage {
  }

  &__title {
  }

  &__text {
  }
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__title {
    font-weight: 500;
    font-size: 28px;
    background: #fff8d4;
    min-height: 54px;
    margin-bottom: 50px;
    padding: 25px 75px 25px 5px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: 0;
      height: 100%;
      min-width: 200%;
      width: 100%;
      background-color: inherit;
      transform: translateX(-100%);
    }

    &_noBG {
      min-height: auto;
      background-color: transparent;
      padding: 0;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 193.9%;
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }

    &_bold {
      font-weight: 600;
    }
    &_link {
      text-decoration: underline;
    }

    &_indent {
      margin-left: 30px;
    }

    &_blue,
    &_link {
      color: #3b79a8;
    }
  }

  &__row {
    display: flex;
  }

  &__image {
    margin-right: 50px;
    max-width: 100px;
    width: 100%;
    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    list-style-position: inside;
    margin-top: 30px;
    &_inner {
      margin: 0 0 15px 35px;
      li {
        margin-bottom: 10px;
      }
    }

    &_lower-alpha {
      list-style-type: lower-alpha;
      li::marker {
        font-style: italic;
        font-weight: 500;
      }
    }

    &_dots-type {
      li {
        position: relative;
        padding-left: 25px;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          background-color: black;
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 100%;
        }
      }
    }
  }
}

.nestedPicture {
  &__image {
    margin-bottom: 20px;
    max-width: 900px;
    width: 100%;
    img,
    source {
      width: 100%;
      height: 100%;
    }
  }
}

