.title {
  font-family: Oswald;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
}

.link {
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  &_border {
    border: 1px solid #3b79a8;
    border-radius: 38px;
    padding: 8px 20px;
  }
}
