// Sass Variables
$body-html-px: 10px;



/* exemple - .overlay {
  z-index: z(overlay);
}
 */

$z-layers: (
  // bottomless-pit: -9999,
  // default: 1,
  // dropdown: 3000,
  // overlay: 4000 modal: 4001,
);
