.aboutUs {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;
  }

  &__image {
  }

  &__column {
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 191.69%;
    color: rgba(0, 0, 0, 0.8);
    &:not(:last-of-type) {
      margin-bottom: 43px;
    }
  }
}
