.faq {
  &__wrapper {
    padding-bottom: 140px;
  }

  &__title {
    margin-bottom: 70px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    & > *:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__answer,
  &__question {
    font-size: 20px;
    padding: 11px 20px;
    position: relative;
    line-height: 191.69%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      width: 25px;
      height: 13px;
      background: #3b79a8;
      clip-path: polygon(0 0, 50% 100%, 100% 0);
    }
  }

  &__question {
    color: #ffffff;
    background: #3b79a8;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    align-self: flex-start;
    max-width: 690px;
    &:after {
      left: 0;
      transform: translate(-50%, 0%);
    }
  }

  &__answer {
    color: #000000;
    font-weight: 300;
    background: #ffffff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    align-self: flex-end;
    border-radius: 10px;
    max-width: 900px;
    &_small {
      max-width: 700px;
    }
    &:after {
      right: 0;
      background: #ffffff;
      transform: translate(50%, 0%);
    }
  }
}

@media (max-width: 1024px) {
  .faq {
    &__title {
      margin-bottom: 50px;
      text-align: center;
    }

    &__answer,
    &__question {
      font-size: 18px;
    }
  }
}

@media (max-width: 375px) {
  .faq {
    &__wrapper {
      padding-bottom: 90px;
    }
    &__title {
      margin-bottom: 40px;
      text-align: center;
    }

    &__answer,
    &__question {
      font-size: 14px;
    }

    &__column {
      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
