.projects {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 110px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  &__button {
    margin: 65px auto 0 auto;
  }
}
