.firstScreen {
  &__wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 60px;
  }
  &__column {
    max-width: 740px;
    margin-right: 60px;
  }

  &__title {
    max-width: 370px;
    letter-spacing: 0.005em;
    margin-bottom: 35px;
    font-weight: bold;
  }

  &__suptitle {
    font-size: 24px;
    font-weight: 300;
    font-size: 24px;
    line-height: 191.69%;
    color: rgba(0, 0, 0, 0.7);
  }

  &__image {
    max-width: 510px;
    width: 100%;
    picture > * {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
