/* abstracts */
@import "./abstracts/mixins.scss";
@import "./abstracts/variables.scss";
@import "./abstracts/functions.scss";

/* vendors - code from side sources and Libraries */
// @import "./vendors/animate.scss";
@import "./vendors/swiper.scss";

/* base */
@import "./base/fonts.scss";
@import "./base/reset.scss";
@import "./base/mainContainer.scss";

/* components */
@import "./components/text";
@import "./components/buttons";
@import "./components/card";
@import "./components/fixedArrow";

/* layout */
@import "./layout/#header";
@import "./layout/#footer";
@import "./layout/cardSection";
@import "./layout/navigationSlider";

/* pages */
