.buttonLink {
  font-size: 20px;
  font-family: Montserrat;
  position: relative;
  display: inline-block;
  color: #000000;
  &_border {
    border: 1px solid #3b79a8;
    padding: 8px 17px;
    border-radius: 38px;
  }
  &::after {
    content: "";
    display: inline-block;
    margin-left: 20px;
    transform: translateY(-50%);
    @include backgroundImage("../resources/iconsSprite/longArrow-icon.svg", cover);
    width: 40px;
    height: 6px;
  }
}

.button {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  background: #3b79a8;
  border-radius: 38px;
  padding: 8px 25px;
}

.checkbox {
  display: flex;
  cursor: pointer;
  align-items: center;
  &__text {
    color: #707070;
    font-size: 18px;
  }
  &__realInput {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  &__icon {
    margin-right: 15px;
    display: block;
    border: 1px solid #3b79a8;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: 0.3s ease;
  }

  &__realInput:checked + &__icon {
    @include backgroundImage("../resources/iconsSprite/checkMark-icon.svg", contain);
    background-size: 70%;
    background-color: #3b79a8;
  }
}
