.paragraph {
  &_withImage {
  }

  &__title {
    font-weight: 500;
    font-size: 28px;
    background: #fff8d4;
    display: inline-flex;
    min-height: 54px;
    align-items: center;
    margin-bottom: 40px;
    padding: 25px 25px 25px 0;
    max-width: 410px;
    width: 100%;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      max-width: 100%;
      width: 100%;
      background-color: inherit;
      transform: translateX(-100%);
    }
  }

  &__text {
    font-size: 24px;
    line-height: 193.9%;
    &:not(:last-of-type) {
      margin-bottom: 50px;
    }

    &_bold {
      font-weight: 600;
    }
  }

  &__row {
    display: flex;
  }

  &__image {
    margin-right: 50px;
    max-width: 100px;
    width: 100%;
    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
