.cardWithFixedLabels {
  position: relative;
  width: 100%;
  min-width: 620px;
  max-width: 620px;

  max-height: 485px;
  &__text {
    position: absolute;
    font-weight: 600;
    display: block;
    z-index: 2;
    &_big {
      font-size: 36px;
      top: 1.2em;
      left: 1.8em;
    }

    &_medium {
      font-size: 30px;
      bottom: 1em;
      right: 1.2em;
    }

    &_small {
      bottom: 2.1em;
      left: 4.3em;
      font-size: 24px;
    }
    &_smallest {
      font-size: 18px;
      top: 6.7em;
      right: 6em;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .cardWithFixedLabels {
    min-width: auto;

    &__text {
      &_big {
        font-size: 4.7vw;
      }

      &_medium {
        font-size: 3.9vw;
      }

      &_small {
        font-size: 3.1vw;
      }
      &_smallest {
        font-size: 2.7vw;
      }
    }
  }
}

@media (max-width: 375px) {
  .cardWithFixedLabels {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    overflow: hidden;
    max-width: 300px;
    &__text {
      &_big {
        font-size: 24px;
        top: 0.8em;
      }

      &_medium {
        font-size: 20px;
      }

      &_small {
        bottom: 0.3em;
        left: 2em;
        font-size: 22px;
      }
      &_smallest {
        top: 3em;
        right: 3em;
        font-size: 18px;
      }
    }
  }
}
