.navigationSlider {
  position: relative;
  background-color: white;
  z-index: 5;
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 90px;
    background-color: white;
    z-index: -1;
  }
  &::after {
    left: 0;
    transform: translateX(-50%);
  }

  &::before {
    transform: translateX(50%);
    right: 0;
  }

  &__arrow {
    @include backgroundImage("../resources/iconsSprite/sideArrow-icon.svg", none);
    border-radius: 100%;
    width: 40px;
    background-color: #e8e8e8;
    height: 40px;
    z-index: 3;

    &::after {
      display: none;
    }
  }

  &__navigation {
    background-color: white;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: $space;
    // display: grid;
    display: flex;
    justify-content: center;
    // grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    border: 1px solid #000;
    margin-bottom: 100px;
    z-index: 3;
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-align: center;
    height: $space;
    transition: 0.5s ease;

    &.active {
      color: white;
      background: #3b79a8;
    }
    &:hover:not(.active) {
      color: white;
      background-color: rgba(129, 185, 228, 1);
    }
  }
}

@media (max-width: 768px) {
  .navigationSlider {
    &__container {
      max-width: 80%;
    }
  }
}
