.card {
  position: relative;
  display: flex;
  align-items: center;
  &__wrapper {
    transition: 0.4s ease;
    background-color: white;
    max-width: 920px;
    font-family: Montserrat;
    width: 100%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 44px;
    display: flex;
    padding: 26px 23px;
    position: relative;
    color: black;
    &:hover {
      box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.3);
      transform: scale(0.99);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_big {
      max-width: 100%;
    }

    &_small {
      max-height: 240px;
      width: 100%;
    }
  }

  &__header {
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  &__suptitle {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 18px;
    line-height: 151.9%;
    color: rgba(0, 0, 0, 0.8);
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  &__level {
    font-weight: 500;
    font-size: 16px;
    color: #163b69;
  }

  &__image {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    margin-top: 36px;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    max-width: 200px;
    min-width: 200px;
    height: 250px;
    img,
    source {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__buttonLink {
    margin-top: 30px;
  }

  &__basket {
    position: relative;
    top: 0%;
    right: 0px;
    background-color: transparent;
    &:hover {
      animation: swing; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s; /* don't forget to set a duration! */
      animation-iteration-count: infinite;
    }
    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (min-width: 901px) {
  .card {
    padding-right: 50px;
    &__column {
      &:first-of-type {
        margin-right: 30px;
      }
      &_small {
        max-width: 190px;
      }
    }

    &__basket {
      right: -50px;
    }
  }
}

@media (max-width: 900px) {
  .card {
    flex-direction: column-reverse;

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__column {
      &:first-of-type {
        text-align: center;
        margin-bottom: 20px;
      }
      &_small {
        text-align: center;
        display: flex;
        align-items: center;
      }
    }
    &__basket {
      margin-bottom: 10px;
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 480px) {
  .card {
    &__basket {
      width: 30px;
      height: 30px;
    }
  }
}
