.navigationSlider {
  margin-bottom: 60px;
  position: relative;
  background-color: white;
  z-index: 5;
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: $space;
    background-color: white;
    z-index: -1;
  }
  &::after {
    left: 0;
    transform: translateX(-50%);
  }

  &::before {
    transform: translateX(50%);
    right: 0;
  }

  &__arrow {
    @include backgroundImage("../resources/iconsSprite/sideArrow-icon.svg", none);
    border-radius: 100%;
    width: 40px;
    background-color: #e8e8e8;
    height: 40px;
    z-index: 3;

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    transform: rotate(180deg);
  }

  &__navigation {
    background-color: white;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: $space;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    margin-bottom: 100px;
    z-index: 3;
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-align: center;
    height: $space;
    transition: 0.5s ease;

    &.active {
      color: white;
      background: #3b79a8;
    }
    &:hover:not(.active) {
      color: white;
      background-color: rgba(129, 185, 228, 1);
    }
  }
}

@media (max-width: 768px) {
  .navigationSlider {
    margin-bottom: 50px;
    &__container {
      max-width: 70%;
    }
  }
}

@media (max-width: 575px) {
  .navigationSlider {
    margin-bottom: 30px;

    &::after,
    &::before {
      height: $space - 30px;
    }
    &__container {
      max-width: 50%;
      min-height: $space - 30px;
    }

    &__link {
      height: $space - 30px;
      font-size: 18px;
    }

    &__arrow {
      width: 30px;
      height: 30px;
      background-size: 30%;
      position: absolute;
      transform: translateY(25%);
    }

    .swiper-button-prev {
      transform: translateY(25%) rotate(180deg);
    }
  }
}

@media (max-width: 375px) {
  .navigationSlider {
    &__link {
      font-size: 14px;
    }
  }
}
