.author {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  & > *:first-child {
    margin-right: 65px;
  }
  &__image {
    max-width: 110px;
    width: 100%;
    img,
    source {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.2;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    &_bold {
      font-weight: 600;
    }
  }

  &__column {
    align-self: flex-end;
  }
}

@media (max-width: 1024px) {
  .projects {
    padding-bottom: 60px;
  }
  .author {
    & > *:first-child {
      margin-right: 35px;
    }
    &__image {
      max-width: 90px;
    }

    &__text {
      font-size: 22px;
    }
  }
}

@media (max-width: 575px) {
  .projects {
    padding-top: 50px;
    &__title {
      margin-bottom: 50px;
    }
  }

  .author {
    &__image {
      max-width: 80px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 375px) {
  .author {
    &__text {
      font-size: 14px;
    }
  }
}
