.projects {
  padding-top: 90px;
  padding-bottom: 80px;
  position: relative;
  &__title {
    margin-left: 110px;
    margin-bottom: 75px;
  }

  &__changePageNav {
  }
}

.cardSection {
  &__navigation {
    background-color: white;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: $space;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 100px;
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: inherit;
      display: block;
      max-width: 100%;
      width: 100%;
    }

    &::after {
      transform: translateX(-100%);
    }

    &::before {
      transform: translateX(100%);
    }
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-align: center;
    height: $space;

    transition: 0.5s ease;

    &.active {
      color: white;
      background: #3b79a8;
    }
    &:hover:not(.active) {
      color: white;
      background-color: rgba(129, 185, 228, 1);
    }
  }

  &__container {
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    justify-items: space-between;
    margin-bottom: 55px;
  }
  &__paragraph {
    margin-bottom: 106px;
  }

  &__image {
  }

  &__information {
    align-self: end;
    & > *:not(:last-child) {
      margin-bottom: 55px;
    }
  }

  &__buttonWrapper {
    display: flex;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
  }

  &__button {
    width: 100%;
    min-height: 53px;
    max-height: 53px;
    &:first-of-type {
      margin-right: 20px;
    }
  }
}
