.privateOffice {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 90px;
  &__card:not(:last-of-type) {
    margin-bottom: 40px;
  }
  &__titlesLinksWrapper {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    & > :not(:last-of-type) {
      margin-right: 20px;
    }
  }

  &__panel {
    margin-bottom: 150px;
    max-width: 600px;
  }

  &__titleLink {
    font-family: Oswald;
    font-size: 36px;
    color: #707070;
    cursor: pointer;
    &.active {
      font-weight: 500;
      color: #000000;
      font-size: 48px;
    }
  }
}

.tab-content {
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
  }
}

.selfInfo {
  display: flex;
  &__column {
    font-weight: 500;
  }

  &__name {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
  }

  &__position {
    margin-top: 10px;
    font-size: 14px;
    text-align: end;
  }

  &__image {
    width: 150px;
    height: 150px;
    margin-left: 20px;

    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1024px) {
  .privateOffice {
    &__panel {
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 900px) {
  .privateOffice {
    max-width: 600px;

    &__titleLink {
      font-size: 30px;
      &.active {
        font-size: 36px;
      }
    }
    &__titlesLinksWrapper {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 650px) {
  .privateOffice {
    &__panel {
      margin-bottom: 60px;
    }

    &__titlesLinksWrappe {
      margin-bottom: 50px;
    }
  }

  .selfInfo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    &__name {
      font-size: 22px;
    }
    &__image {
      margin-bottom: 40px;
    }

    &__position {
      text-align: center;
      margin-top: 12px;
    }
  }
}

@media (max-width: 480px) {
  .privateOffice {
    &__titleLink {
      font-size: 18px;
      &.active {
        font-size: 24px;
      }
    }
  }

  .selfInfo {
    &__name {
      font-size: 20px;
    }
  }
}
