.buttonLink {
  font-size: 20px;
  font-family: Montserrat;
  position: relative;
  display: inline-block;
  color: #000000;
  &_border {
    border: 1px solid #3b79a8;
    padding: 8px 17px;
    border-radius: 38px;
  }
  &::after {
    content: "";
    display: inline-block;
    margin-left: 20px;
    transform: translateY(-50%);
    @include backgroundImage("../resources/icons/longArrow-icon.svg", cover);
    width: 40px;
    height: 6px;
  }
}

.button {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  background: #3b79a8;
  border-radius: 38px;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -5px -5px 4px rgba(2, 161, 179, 0.1), inset 5px 5px 4px rgba(0, 0, 0, 0.1);
  &_bold {
    font-weight: 500;
    font-family: Montserrat;
    font-size: 18px;
  }
}

.changePageNav {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  &__link {
    color: #000000;

    &:first-child,
    &:last-child {
      position: relative;
      display: inline-flex;
      align-items: center;

      &:after,
      &:before {
        content: "";
        top: 0%;
        display: block;
        position: absolute;
      }

      &:hover {
        &::before {
          background-color: #dad9d9;
        }
      }

      &::after {
        width: 25px;
        height: 25px;
        @include backgroundImage("../resources/icons/sideArrow-icon.svg", contain);
      }

      &::before {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        transition: 0.4s ease;
      }
    }

    &:first-child {
      margin-right: 50px;
      padding-left: 50px;
      &:after,
      &::before {
        transform: rotate(180deg);
        left: 0;
      }

      &::before {
        left: 0%;
        transform: translate(-25%, -25%);
      }
    }

    &:last-child {
      padding-right: 50px;

      &::before {
        right: 0%;
        transform: translate(25%, -25%);
      }

      &:after {
        right: 0;
      }
    }
  }
}
