.card {
  &_project {
  }
  &__wrapper {
    background-color: white;
    max-width: 640px;
    font-family: Montserrat;
    width: 100%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 44px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 23px;
    column-gap: 20px;
    row-gap: 25px;
    position: relative;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  &__suptitle {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 18px;
    line-height: 151.9%;
    color: rgba(0, 0, 0, 0.8);
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  &__level {
    font-weight: 500;
    font-size: 16px;
    color: #163b69;
    position: absolute;
    top: 30px;
    left: 50px;
  }

  &__image {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    margin-top: 36px;
  }

  &__buttonLink {
    margin-top: 30px;
  }

  &__button {
    min-height: 50px;
  }
}
