.buttonLink {
  font-size: 20px;
  font-family: Montserrat;
  position: relative;
  display: inline-block;
  color: #000000;
  transition: 0.4s ease;
  &:hover {
    transform: scale(1.1);
  }
  &_border {
    border: 1px solid #3b79a8;
    padding: 8px 17px;
    border-radius: 38px;
    &:hover {
      color: white;
      background-color: #3b79a8;
      text-align: center;
      &::after {
        display: none;
      }
    }
  }
  &::after {
    content: "";
    display: inline-block;
    margin-left: 20px;
    transform: translateY(-50%);
    @include backgroundImage("../resources/iconsSprite/longArrow-icon.svg", contain);
    width: 40px;
    height: 6px;
  }
}

.button {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  background: #3b79a8;
  border: 1px solid #3b79a8;
  border-radius: 38px;
  padding: 8px 25px;
  transition: 0.4s ease;
  &:hover {
    color: #3b79a8;
    background: transparent;
  }
}

@media (max-width: 375px) {
  .button {
    font-size: 14px;
  }

  .buttonLink {
    font-size: 14px;
    &::after {
      margin-left: 10px;
      transform: translateY(-25%);
      @include backgroundImage("../resources/iconsSprite/longArrow-icon.svg", contain);
      width: 38px;
      height: 6px;
    }
  }
}
