.projects {
  padding-top: 90px;
  padding-bottom: 80px;
  position: relative;
  &__title {
    margin-left: 110px;
    margin-bottom: 75px;
  }

  &__changePageNav {
  }
}

.cardSection {
  &__navigation {
    background-color: white;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: $space;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    margin-bottom: 100px;
    // display: flex;
    // justify-content: space-between;
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: inherit;
      display: block;
      max-width: 100%;
      width: 100%;
    }

    &::after {
      transform: translateX(-100%);
    }

    &::before {
      transform: translateX(100%);
    }
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-align: center;
    height: $space;

    transition: 0.5s ease;

    &.active {
      color: white;
      background: #3b79a8;
    }
    &:hover:not(.active) {
      color: white;
      background-color: rgba(129, 185, 228, 1);
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 70px;
    justify-items: space-between;
    margin-bottom: 55px;
  }
  &__paragraph {
    margin-bottom: 56px;
  }

  &__nestedPicture {
    margin: 0 auto 50px auto;
  }

  &__information {
    align-self: end;
    & > *:not(:last-child) {
      margin-bottom: 55px;
    }
  }

  &__buttonWrapper {
    display: flex;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
  }

  &__button {
    width: 100%;
    min-height: 53px;
    max-height: 53px;
    &:first-of-type {
      margin-right: 20px;
    }
  }

  .gistFrame {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto 40px auto;
  }
}

.sideBar {
  & > *:not(:last-child) {
    margin-bottom: 30px;
  }

  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px;
  padding: 50px 25px 25px;
  position: relative;
  z-index: 1;
  max-width: 460px;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    background-color: #e5e5e5;
    left: 0px;
    z-index: 1;
    display: block;
    min-width: 100%;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
  }

  &__link {
    font-family: Roboto;
    font-size: 24px;
    line-height: 130.19%;
    color: #000000;

    &_active {
      color: #3b79a8;
    }
  }
}
