/* abstracts */
@import "./abstracts/mixins.scss";
@import "./abstracts/variables.scss";
@import "./abstracts/functions.scss";

/* vendors - code from side sources and Libraries */
// @import "./vendors/animate.scss";

/* base */
@import "./base/fonts.scss";
@import "./base/reset.scss";
@import "./base/mainContainer.scss";

/* layout */

/* components */

/* pages */

